@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root{
    --color-one: #1B2026;
    --color-two: #BBBBBB;
    background: #EFEFEF;
    --font: 'DM Sans', serif;
}

*{
    box-sizing: border-box;
    color: var(--color-one);
}

body{
    font-family: var(--font);
}
.container{
    width: 100%;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
}
li{
    list-style-type: none;
}